body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
html{
    height: 100%;
}

body{
    background-color: #7B7B7B;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

/* 盒子设置——大小、颜色等 */

.box{
    box-shadow: inset 0 0 1px #FFFFCC;
    float: left;
    margin:0 10px 10px 0;
}

.box_sm{
    width: 70px;
    height: 70px;
}

.box_sm2{
    width: 77px;
    height: 75px;
    margin:0 1px 1px 0;
}

.box_md{
    width: 150px;
    height: 150px;
}

.box_md2{
    width: 154px;
    height: 151px;
    margin: 0 1px 0 0;
}

.box_lg{
    width: 310px;
    height: 150px;
}

.color_purple{
    background-color: #6A00FF;
}

.color_blue{
    background-color: #1BA1E2;
}

.color_orange{
    background-color: #FA6800;
}

.color_red{
    background-color: #CE352C;
}

.color_green{
    background-color: #00ABA9;
}

.color_brown{
    background-color: #825A2C;
}

/* 盒子设计结束 */

section{
    width: 320px;
    height: 552px;
    margin-left: 80px;
    float: left;
}

section h2{
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
}

body section.fst{
    width: 100%;
    height: 46px;
    float: none;
    padding: 20px 0;
    margin-left: 0;
    margin-bottom: 70px;
}

body section.fifth{
   width: 160px;
}

.glass{
    width: 100%;
    min-width: 1850px;
    height: 100%;
    margin: 0 auto;
    -webkit-backdrop-filter: blur(15px); 
    backdrop-filter: blur(15px); 
/*    background: rgba(255, 255, 255, 0.2);*/
     background: rgba(0, 0, 0, 0.2); 
}
body section.fst h1{
    color: white;
    font-size: 50px;
    font-weight: 100;
    position: fixed;
    top: 10px;
    left: 80px;
}

section > .search {
    width: 1000px;
    height: 40px;
    margin: 3px auto;
}

section > .search > input#search{
    width: 869px;
    height: 38px;
    border: 1px solid #b8b8b8;
    border-right: 0;
    outline: none;
    padding:0 10px 0 20px;
    font-size: 16px;
    float: left;
}

section > .search > input#search:focus{
    border: 1px solid #4791ff;
    border-right: 0;
}

section > .search > button#btn{
    width: 100px;
    height: 40px;
    border: 0;
    outline: none;
    float: left;
    background-color: #38f;
    color: white;
    font-size: 16px;
}

section > .search > button#btn:hover{
    background-color: #3e7ef3;
    box-shadow: 1px 1px 1px #333;
    cursor: pointer;
}



/* 搜索部分已完成，下面开始作品导航部分 */

section.scd div.left{
    width: 160px;
    height: 160px;
    float: left;
}


section.scd div.right{
    width: 150px;
    float: left;
}

/* 作品导航部分结束，开始链接导航 */

section.trd{

}

/* 链接导航结束,开始下载链接 */

/* section.fth{
    width: 1000px;
    height: 150px;
    margin-top: 40px;
} */


/* 按钮图片样式 */
section div a{
    display: block;
    text-decoration: none;
    z-index: 999;
}

section div a.sm{
    width: 70px;
    height: 70px;
}

section div a.sm2{
    width: 77px;
    height: 75px;
}

section div a.md{
    width: 150px;
    height: 150px;
}

section div a.md2{
    width: 154px;
    height: 151px;
}

section div a.lg{
    width: 310px;
    height: 150px;
}

section div a{
	z-index: 666;
}

.pic_2-1{
    background-color: white;
    background-image: url("../img/2-1.jpg");
}

.pic_2-2{
    background-color: #4EC2B9;
    background-image: url("../img/2-2.jpg");
}

.pic_2-3{
    background-color: #FF4401;
    background-image: url("../img/2-3.jpg");
}

.pic_2-4{
    background-color: #196DB5;
    background-image: url("../img/2-4.jpg");
}

.pic_2-5{
    background-color: white;
    background-image: url("../img/2-5.jpg");
}

.pic_2-6{
    background-color: white;
    background-image: url("../img/2-6.jpg");
}

.pic_2-7{
    background-color: white;
    background-image: url("../img/2-7.jpg");
}

.pic_2-8{
    background-color: white;
    background-image: url("../img/2-8.jpg");
}

.pic_3-1{
    background-color: white;
    background-image: url("../img/3-1.jpg");
}

.pic_3-2{
    background-color: white;
    background-image: url("../img/3-2.jpg");
}

.pic_3-3{
    background-color: white;
    background-image: url("../img/3-3.jpg");
}

.pic_3-4{
    background-color: #583F80;
    background-image: url("../img/3-4.jpg");
}

.pic_3-5{
    background-color: #1B2C3C;
    background-image: url("../img/3-5.jpg");
}

.pic_4-1{
    background-color: white;
    background-image: url("../img/4-1.jpg");
}

.pic_4-2{
    background-color: white;
    background-image: url("../img/4-2.jpg");
}

.pic_4-3{
    background-color: #D62F2E;
    background-image: url("../img/4-3.jpg");
}

.pic_4-4{
    background-color: white;
    background-image: url("../img/4-4.jpg");
}

.pic_4-5{
    background-color: #53bdb1;
    background-image: url("../img/4-5.jpg");
}

.pic_5-1{
    background-color: #F0EAD2;
    background-image: url("../img/5-1.jpg");
}

.pic_5-2{
    background-color: #222222;
    background-image: url("../img/5-2.jpg");
}

.pic_5-3{
    background-color: #333;
    background-image: url("../img/5-3.jpg");
}

.pic_5-4{
    background-color: white;
    background-image: url("../img/5-4.jpg");
}

.pic_5-5{
    background-color: white;
    background-image: url("../img/5-5.jpg");
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .glyphicon-list-alt:before {
    content: "\e032";
  }

  .glyphicon-education:before {
    content: "\e233";
  }

  .glyphicon-globe:before {
    content: "\e135";
  }

  .glyphicon-list:before {
    content: "\e056";
  }

  .glyphicon-edit:before {
    content: "\e065";
  }

  .glyphicon-plus-sign:before {
    content: "\e081";
  }

  .glyphicon-download:before {
    content: "\e026";
  }

  .glyphicon-floppy-remove:before {
    content: "\e174";
  }

  section.scd div{
    text-align: center;
  }

  section.scd div a{
    display: block;
    width: 150px;
    height: 150px;
    position: relative;
  }

  section.scd div span{
      position: relative;
      top:-155px;
      display: block;
      margin-top: 50px;
      color: white;
      font-size: 50px;
  }

  section.scd div p{
      position: relative;
      color: white;
      left: -35px;
      top: -129px;
  }

  section.scd div.box_lg p{
      left: -106px;
      top: -129px;
  }

  section.scd div.box_lg a{
      width: 310px;
  }

  section.scd div.box_sm a{
    width: 70px;
    height: 70px;
  }

  section.scd div.box_sm span{
      font-size: 30px;
      top:-100px;
  }

div.all{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	display: none;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
}

div.all img{
	width: 0;
	height: 0;
	display: none;
}

div.box a:hover{
/*	position: relative;*/
	border: 0;
/*	top:-2px;*/
	box-shadow: 0 0 1px 1px #FFFFCC;
}